body {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  position: relative;
  margin: auto;
  grid-template-areas: "nav photo header "
                       "content content content";
}

header {
  grid-area: header;
  background-color: mediumseagreen;
  width: 100%;
  text-align: center;
}

photo {
  grid-area: photo;
}

nav {
  font-family: "Helvetica", sans-serif;
  background-color: mediumseagreen;
  text-transform: uppercase;
  text-align: center;
  grid-area: nav;
}

content {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  font-family: cursive;
}
