body {
  display: grid;
  grid-template-columns: 15% 21% auto;
  position: relative;
  margin: auto;
  grid-template-areas: "nav image header "
                       "content content content";
}

header {
  grid-area: 1 / 3 / 2 / 4;
  background-color: mediumseagreen;
  width: 100%;
  text-align: center;
}

photo {
  grid-area: 1 / 2 / 2 / 2;
}

nav {
  font-family: "Helvetica", sans-serif;
  background-color: mediumseagreen;
  text-transform: uppercase;
  text-align: center;
  grid-area: 1 / 1 / 2 / 2;
}

content {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  font-family: cursive;
}
